

  <div class="container">
    <div class="row">
      <main class="col-md-12">
        <section>
          <h3>Tables</h3>
          <div class="table-responsive">
            <table class="table">
              <caption><strong>Student Information</strong></caption>
              <thead>
                <tr>
                  <th>First Name</th>
                  <th>Last Name</th>
                  <th>Email Address</th>
                </tr>
              </thead>
              <tbody id="studentTableBody">
                <!-- Table rows will be dynamically generated here -->
              </tbody>
            </table>
          </div>
        </section>

        <section>
          <h3>Images</h3>
          <div class="row">
            <div class="col-md-4">
              <img src="https://th.bing.com/th/id/OIP.v7gEKUNUq-Jy-ARL41hoxAHaE7?pid=ImgDet&rs=1" alt="study">
            </div>
            <div class="col-md-4">
              <img src="https://www.bing.com/images/search?view=detailV2&ccid=YJnFkxoJ&id=DC781E621654D919D69FE53AEC471F20D2FBB103&thid=OIP.YJnFkxoJqRCQJ4YJY6jfUAHaHF&mediaurl=https%3a%2f%2fae01.alicdn.com%2fkf%2fHTB1tjjycJcnBKNjSZR0q6AFqFXao%2fModern-Book-Shelf-Study-Room-Bookcase-Book-Storage-Rack.jpg&cdnurl=https%3a%2f%2fth.bing.com%2fth%2fid%2fR.6099c5931a09a9109027860963a8df50%3frik%3dA7H70iAfR%252bw65Q%26pid%3dImgRaw%26r%3d0&exph=604&expw=632&q=Study+Rack&simid=607995725583419962&FORM=IRPRST&ck=4F8E5875871B5B22278D18F651985595&selectedIndex=12" alt="rack">
            </div>
            <div class="col-md-4">
              <img src="https://wallpapercave.com/wp/wp4498220.jpg" alt="Reading">
            </div>
          </div>
        </section>

        <section>
          <h3>Audio</h3>
          <audio controls>
            <source src="https://pat-crawford-sdds.netlify.app/shared/fall-2022/web700/A3/sample-audio.mp3" type="audio/mp3">
            <source src="https://pat-crawford-sdds.netlify.app/shared/fall-2022/web700/A3/sample-audio.ogg" type="audio/ogg">
            Your browser does not support the audio element.
          </audio>
          <p>This audio section contains a sample audio file. You can use the audio player controls above to play, pause, and adjust the volume of the audio.</p>
        </section>

        <section>
          <h3>Video</h3>
          <div class="embed-responsive embed-responsive-16by9">
            <iframe class="embed-responsive-item" src="https://www.youtube.com/watch?v=CJUVd8SguDw" allowfullscreen></iframe>
          </div>
          <p>This video section contains a YouTube video. You can watch the video by playing it using the embedded player above.</p>
        </section>
      </main>
    </div>
  </div>

